# Ignore everything
*

# Except this file
!.gitignore

# Except .cc files directly in scratch (not subfolders)
!scratch/
!scratch/*.cc

# Except the 5g-mesh-bandit simulation subfolder
!scratch/5g-mesh-bandit/
!scratch/5g-mesh-bandit/*.cc
!scratch/5g-mesh-bandit/*.h
!scratch/5g-mesh-bandit/*.md

# Except .md files in root
!*.md
